<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Chicken version 2.2b3, Copyright 2002-2006 Geekspiff, 2010-2011 Chicken developers.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>CotVNC.help</string>
	<key>CFBundleHelpBookName</key>
	<string>net.sourceforge.chicken.help</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleSignature</key>
	<string>ChkV</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>VNC URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vnc</string>
				<string>rfb</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>CotVNC.sdef</string>
	<key>SUFeedURL</key>
	<string>http://chicken.sourceforge.net/chicken.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
